#background {
  /* background-color: #212529; */
  background-image: url("../image/white.png");
  width: 100%;
  height: auto;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}


