.bgcolor {
    background-color: rgb(114, 129, 148);
  }
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1400px;
  }
}

.wrap {
  width: auto;
  clear: both;
}
.t3-footer {
  background-color: #222;
  color: #cacaca;
  padding: 40px 0 25px;
  margin-top: 50px;
}
.blank-col1{
  background-color: rgb(140, 138, 138);
  height: 800px;
}
.imgsize{
  width: 50px;
  height: 50px;
}



