.navbar-color {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #bbbbbb;
}
.nav-item{
  color: #212529;
}
.navbar-nav .nav-link.active{
  background-color:#212529 !important;
  color: #ffffff;
}

.text-center {
  text-align: center !important;
}

.logoutbtn {
  border: none;
  font-weight : lighter;
}
