.navbar-color {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #bbbbbb;
}
.nav-item {
  color: #212529;
}
.navbar-nav .nav-link.active {
  background-color: #212529 !important;
  color: #ffffff;
}

.text-center {
  text-align: center !important;
}

.logoutbtn {
  border: none;
}

.miniprofilepic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
}

.miniprofilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
